################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Facilitate/FileContentIndex
/.vs/Facilitate-Backend/FileContentIndex
